<div class="nav container-fluid">
    <div class="cname">
        <h1><a routerLink="/home"><i><i class="fa-solid fa-star"></i> FayZ</i></a></h1>
    </div>


 <input type='checkbox' id='check' />
    <div class="nav-menu">
       
        <div *ngIf="menuType ==='default' || menuType ==='user'" class="nav-search">
            <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()"
                placeholder="Search Products">
            <button (click)="submitSearch(searchInput.value)">Search</button>
            <ul class="suggested-result" *ngIf="searchResult">
                <li *ngFor="let item of searchResult">
                    <a (mousedown)="redirectToDetails(item.id)">{{item?.name}}</a>
                </li>
            </ul>
        </div>

        <div [ngSwitch]="menuType" class="list-items">
            <ul *ngSwitchCase="'default'">
                <li><a routerLink="seller-auth">Seller</a></li>
                <li><a routerLink="home">Home</a></li>
                <li>
                    <a routerLink="wishlist-page" data-toggle="tooltip" data-placement="bottom" title="Add to Wishlist">
                        Wishlist
                    </a>
                </li>
                <li>
                    <a routerLink="cart-page">
                        Cart({{ cartItems }})
                    </a>
                </li>
                <li class="dropdown">
                    <a class="nav-link " href="#" >
                        <i class="fa-solid fa-circle-user custom-size"></i>
                    </a>
                    <div class="dropdown-menu">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <i class="fa-solid fa-circle-user fa-5x mb-3"></i>
                                <p class="card-text">
                                    Sign in To The Account
                                </p>
                                <a routerLink="/user-auth" class="btn herobutton">Sign In</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul *ngSwitchCase="'user'" class="user-nav">
                <li><a routerLink="seller-auth">Seller</a></li>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="my-orders">Orders</a></li>
                <li><a routerLink="wishlist-page" data-toggle="tooltip" data-placement="bottom" title="Add to Wishlist">Wishlist</a></li>
                <li><a routerLink ="cart-page">Cart({{cartItems}})</a></li>
                  <li class="dropdown">
                    <a class="nav-link " href="#" >
                        <span class="pfp">{{ userName[0] | uppercase }}</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <p>{{userEmail}}</p>
                                <span class="pfp1 fa-3x mb-3">{{ userName[0] | uppercase }}</span>
                                <p class="card-text mb-0">
                                    Logout To The Account
                                </p>
                                 <li><a (click)="userLogout()" class="herobutton">Logout</a></li>
                            </div>
                        </div>
                    </div>
                </li>
            
            </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="seller-home">List</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
        </ul>



   <label for="check" class="close-menu"><i class="fa-solid fa-times"></i></label>

    </div>
         

</div>

    <label for="check" class="open-menu"><i class="fa-solid fa-bars"></i></label>
