.add-product{
      background: #FFF;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 74%, rgba(239, 177, 29, 0.73) 100%);
   
}


.user-auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.common-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input{
    height: 50px;
    border: 1px solid #E1E1D1;
    border-radius: 10px;
    padding-left: 15px;
    background-color: #fcfcf9;
   
}
.form-input:hover{
    
    border: 1px solid #D25802;
    
}

.form-input:focus {
    border: 1px solid #D25802;
    outline: none; 
}
.form-button{
    height: 50px;
    border: 1px solid ;
    border-radius: 10px;
    background-color: #D25802;
    color: #E1E1D1;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

 .form-button:hover{
    transform: translateY(-2px);
 }
 .sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    z-index: 100;
}