/* *{
    margin: 0%;
    padding: 0;
}
 */
/* SAFE GLOBAL RESET */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

*, *::before, *::after {
  box-sizing: inherit;
}


.heroimage{
    display: flex;
    padding: 0 !important;
}

.herocontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
   /* background-color: #EBE9E1;
    */
   /* background: #FFF;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 85%, rgba(239, 177, 29, 0.73) 100%); */
background: #FFF;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 74%, rgba(239, 177, 29, 0.73) 100%);
}

.heroh1{
    color: #E43D12;
    font-size: 90px;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}
.heropre{
    font-size: 22px;
    z-index: 2;
    color: #E43D12;
}

.shape-1,
.shape-2 {
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.shape-1 {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 250px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 162, 182);
  left: 800px;
  top: 600px;
  animation: spinScaleReverse 12s infinite ease-in-out;

}

/* Animation Keyframes */
@keyframes spinScale {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
}

@keyframes spinScaleReverse {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(1.2);
  }
}




.picsum-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}


h3, p{
    color: black;
}

.product-list-wrapper{
    margin-top: 80px ;
}

.product-item{
    border: 1px solid #ddd;
    /* margin-right: 25px; */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trendy-img{
    width: 100%;
}

.product-item .product-details{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.product-item .name-head{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.price-details{
    margin-top: 7px;
    display: flex;
    justify-content: center;

}
.product-color{
    text-align: center;
}
.product-footer{
    display: flex;
    gap: 20px;
}
.heroimg-div{
    display: flex;
    flex-direction: column;
   
}
.hero-image{
  width: 100%;
    
}
.pop-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E43D12;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}
.pop-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-h1 h1{
    position: absolute;
    margin-bottom: 70%;
    color: #ddd;
}
.footbutton{
    padding: 10px;
        border: 1px solid #D6536D;

    border-radius: 10px;
    background-color: #D6536D;

    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.footbutton:hover{
     transform: translateY(-2px);
    background-color: transparent;
    border: 1px solid #EFB11D;
    color: #EFB11D;


}



.footabutton{
    color: #fff;
    padding: 10px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
    font-weight: 600;
}

.footabutton:hover{
    transform: translateY(-2px);
    background-color: transparent;
    border: 1px solid #EFB11D;
    color: #EFB11D;


}

.foota:hover{
    color: #EFB11D;

}

.herobutton{
    
    color: #fff;
    font-size: 22px;
    padding: 8px 15px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    text-decoration: none;
}

.herobutton:hover{
    background-color: transparent;
    color: #EFB11D;
    border: 1px solid #EFB11D;
    transform: translateY(-2px);
}

.poppro{
    object-fit: contain;
}

.product-header-image{
    width: 100%;
    min-height: 300px;
}
.trendy-section{
   background: #EFB11D;
background: linear-gradient(90deg, rgba(239, 177, 29, 0.73) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 0.4) 100%);
     
}

.footer{
    background: #D6536D;
}
.footer .footer-link{
    font-size: 1rem;
    color: #fff;
    padding: 0 0.5rem;
    
}
.footer .footer-link:hover{
    color: #fff !important;
}
.footer a i{
    font-size: 1.2rem;
    color: #ffff;
    padding:0 0.5rem;
  
}

.footer a{
    text-decoration: none !important;
}

.footer p{
    color: #fff;
}

.footer .footer-link ul,li{
    list-style: none ;
}

.footer i{
    color: #fff;
    font-size: 12px;
    font-style: none;
}

.footer h6{
    font-size: 1.3rem;
    color: #fff;
}

.copyright{
    background-color:  #D6536D;
}

.product{
  position: relative;
  overflow: hidden;
  padding: 20px;
 
 
}

.product-category{
  padding: 0 13vw;
  font-size:  50px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #E43D12;

 
}

.product-container{
  padding: 0 10vw;
  display: flex;
  overflow-x:auto;
  scroll-behavior: smooth;
  overflow-y: hidden;
  
}

.product-container::-webkit-scrollbar{
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 400px;
  height: 900px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.product-short-description{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
  font-weight: 900;
  font-size: 20px;
}

.pre-btn,
.nxt-btn{
  border: none;
  width: 13vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9;
}

.pre-btn{
  left:0;
  transform: rotate(180deg);
background: #FFF;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 14%,  rgba(239, 176, 29, 0.63) 79%);
}

.nxt-btn{
  right: 0;

}

.pre-btn i,
.nxt-btn i {
  opacity: 0.2;
}

.pre-btn:hover i,
.nxt-btn:hover i {
  opacity: 1;
}


@media (min-width: 1141px) and (max-width: 1560px) {

.heroh1{
    color: #E43D12;
    font-size: 50px;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}
.heropre{
    font-size: 20px;
    z-index: 2;
    color: #E43D12;
}

.product-category{
  padding: 0 13vw;
  font-size:  30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #E43D12;

 
}

.pop-title{
  font-size: 30px;
}

.shape-1,
.shape-2 {
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.shape-1 {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 200px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 160px;
  height: 160px;
  background-color: rgba(255, 162, 182);
  left: 500px;
  top: 500px;
  animation: spinScaleReverse 12s infinite ease-in-out;

}

.herobutton{
    
    color: #fff;
    font-size: 20px;
    padding: 8px 15px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
        text-decoration: none;

}

.herobutton:hover{
    background-color: transparent;
    color: #EFB11D;
    border: 1px solid #EFB11D;
    transform: translateY(-2px);
}


}

@media (max-width: 877px)  {
   
.heroh1{
    color: #E43D12;
    font-size: 20px;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}
.pop-title{
  font-size: 30px;
}


.product-category{
  padding: 0 13vw;
  font-size:  30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #E43D12;

 
}
.heropre{
    font-size: 10px;
    z-index: 2;
    color: #E43D12;
}

.shape-1,
.shape-2 {
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.shape-1 {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 150px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 162, 182);
  left: 400px;
  top: 350px;
  animation: spinScaleReverse 12s infinite ease-in-out;

}

.herobutton{
    
    color: #fff;
    font-size: 10px;
    padding: 8px 15px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
        text-decoration: none;

}

.herobutton:hover{
    background-color: transparent;
    color: #EFB11D;
    border: 1px solid #EFB11D;
    transform: translateY(-2px);
}


}

@media (min-width: 877px) and (max-width: 1141px) {
   
.heroh1{
    color: #E43D12;
    font-size: 30px;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}

.pop-title{

  font-size: 30px;
}

.product-category{
  padding: 0 13vw;
  font-size:  30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #E43D12;

 
}
.heropre{
    font-size: 15px;
    z-index: 2;
    color: #E43D12;
}

.shape-1,
.shape-2 {
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.shape-1 {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 200px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 162, 182);
  left: 400px;
  top: 400px;
  animation: spinScaleReverse 12s infinite ease-in-out;

}

.herobutton{
    
    color: #fff;
    font-size: 15px;
    padding: 8px 15px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
        text-decoration: none;

}

.herobutton:hover{
    background-color: transparent;
    color: #EFB11D;
    border: 1px solid #EFB11D;
    transform: translateY(-2px);
}
.footabutton{
    padding: 10px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.footabutton:hover{
     transform: translateY(-2px);
    background-color: transparent;
    border: 1px solid #EFB11D;
    color: #EFB11D;


}

}

@media (max-width:767px){
  .product-footer{
    display: flex;
    gap:5px;
    
}
.hero-image{
  display: none;
}


.footabutton{
    padding: 5px;
    border: 1px solid #D6536D;
    border-radius: 10px;
    background-color: #D6536D;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.shape-1,
.shape-2 {
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.shape-1 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 150px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 162, 182);
  left: 250px;
  top: 250px;
  animation: spinScaleReverse 12s infinite ease-in-out;

}
 .product-card {
    width: 300px;
    
  }

  .product-image {
    height: 400px;
  }

  .pre-btn,
  .nxt-btn {
    display: flex;
    width: 5vw;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 9;
    border: none;
    cursor: pointer;
  }

  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }

  .nxt-btn {
    right: 0;
  }

  .pre-btn i,
  .nxt-btn i {
    font-size: 24px;
    opacity: 0.3;
  }

  .pre-btn:hover i,
  .nxt-btn:hover i {
    opacity: 1;
  }


}

@media (max-width:575px){

  .herocontent{
    width: 100%;
    height: 80vh;
  }


.shape-1 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 162, 182, 0.411);
  top: 350px;
  animation: spinScale 10s infinite ease-in-out;

}

.shape-2 {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 162, 182);
  left: 250px;
  top: 480px;
  animation: spinScaleReverse 12s infinite ease-in-out;


}


}
@media(max-width:376px){
  .heroh1{
    color: #E43D12;
    font-size: 15px;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
}
.heropre{
    font-size: 8px;
    z-index: 2;
    color: #E43D12;
}
}


