<div class="container-fluid">
<div class="product-list container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-4">Product List</h1>
      <p class="text-success">{{ productMessage }}</p>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered align-middle text-center">
      <thead class="table-light">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <button (click)="deleteProduct(item.id)" class="btn btn-sm btn-danger">Delete</button>
          </td>
          <td>
            <a [routerLink]="'/seller-update-product/' + item.id" class="btn btn-sm btn-dark">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
