<div class="container my-orders">
<h1>My Orders</h1>
<div class="row details1">
    <div class="col-sm-2">
        <span><b>Order</b></span>
    </div>
    <div class="col-sm-2">
        <span><b>Order Id</b></span>
    </div>
    <div class="col-sm-2">
        <span><b>Price</b></span>
    </div>
    <div class="col-sm-2">
        <span><b>Status</b></span>
    </div>
    <div class="col-sm-2">
        <span><b>Status</b></span>
    </div>
</div>
<div class="row order-data details" *ngFor="let order of orderData">
    <div class="col-sm-2">
        <img class="order-img" src="https://img.freepik.com/free-vector/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_335657-2766.jpg?w=360" alt="">
    </div>
    <div class="col-sm-2">
        <span>#{{order.id}}</span>
    </div>
    <div class="col-sm-2">
        <span>{{order.totalPrice}}</span>
    </div>
    <div class="col-sm-2">
        <span>In Process</span>
    </div>
    <div class="col-sm-2">
        <span><button class="form-button" (click)="cancelOrder(order.id)">Cancel Order</button></span>
    </div>
</div>
</div>
