/* .container-fluid{
background: #FFF;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 74%, rgba(239, 176, 29, 0.486) 100%);
min-height: 100vh !important;


} */

.cart-page-bg {
  min-height: 100vh; /* ensures at least full screen, grows with content */
  width: 100%;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 74%, rgba(239,176,29,0.486) 100%);
}

.cart-page{
    display: flex;
    flex-direction: column;
    
    
}
.cart-page h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E43D12;
    
    
}

.cart-page h1 i{
    color:#EFB11D;
}
.cartimg{
    width: 100% !important;
    height: 200px;

}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-img{
    width: 70%;
}



.details ul{
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    z-index: 100;
    
}

.details ul li span{
font-size: 20px;
}

.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary h3{
    text-align: center;
}
.summary ul{
    list-style-type:none ;
    padding: 5%;
    /* border: 1px solid #ddd; */
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    z-index: 1000;

}

.summary ul li{
    display: flex;
    justify-content: space-between;
}
.form-button{
    padding: 10px;
        border: 1px solid #D6536D;
     color: white;
    border-radius: 10px;
    background-color: #D6536D;

    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
   font-size: 20px;
}

.form-button:hover{
     transform: translateY(-2px);
    background-color: transparent;
    border: 1px solid #EFB11D;
    color: #EFB11D;


}
a.form-button {
    text-decoration: none !important;
  
}


.maxwidth{
    width: 100%;
}



@media(max-width:767px){
    .details ul{
        display: flex;
        flex-direction: column;
        
    }
    .cartimg{
        height: 100%;
    }
    
    .details ul li{
        justify-content: start;
    }

    .empty-cart{
        margin-top: 200px;
    }
    .empty-cart-img{
    width: 100%;
}
}

