/* You can add global styles to this file, and also import other style files */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}

.carousel-caption{
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
}

