<div class="container-fluid signbody">
<div class="row">
    <div class="col-sm-12 user-auth">
        <p class="text-success">{{orderMsg}}</p>

        <div class="sign-up">

            <h1 class="mb-3">Add Shipping Address</h1>

            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input type="email" class="form-input mb-3" placeholder="Enter User Email" name="email" ngModel>
                <input type="text" class="form-input mb-3" placeholder="Enter Your Address" name="address" ngModel>
                <input type="text" class="form-input mb-3" placeholder="Enter Contact Details" name="contact" ngModel>
                <button class="form-button">Order Now</button>
            </form>
        </div>
       <div class="mt-4">
           <h3>Total Amount : <b>{{totalPrice}}</b></h3>
           <h4>Payment Method : <b>Pay on Delivery</b></h4>
        </div>
    </div>
     
   
</div>
<div class="shape-1"></div>
         <div class="shape-2"></div>
</div>
 

